body {
    background-color: black;
    color:#AAA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/*
    MESSAGE-LIST
*/
.message-list {
    /* background: black; */
    display: inline-block;
    color: #DDD;
    position: fixed;
    padding: 0;
    margin: 0;
    font-size: 12px;
    right: 0px;
    z-index: 700;
    list-style-type: none;
}

.message-list li {
    margin: 10px;
    padding: 10px;
    width: 150px;
    border-left: #06f solid 3px;
    background: #009;
}

.message-list li:hover {
    cursor: pointer;
}

.message-list li.error {
    border-left: #f40 solid 3px;
    background: #802200;
}

.message-list li.warning {
    border-left: #fc0 solid 3px;
    background: #b38f00;
}

.message-list li.info {
    border-left: #06f solid 3px;
    background: #009;
}

/*
    NAVBAR
*/
.navbar {
    background: #06f;
    color: white;
    border-bottom: #009 solid 4px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0em;
    margin: 0em;
    display: inline-flex;
}

.navbar li {
    padding: 10px;
}

.navbar li:hover {
    cursor: pointer;
    background: #009;
    /* text-decoration: underline; */
    /* border-bottom: white 2px solid; */
}

.logo {
    font-weight: bold;
    font-size: inherit;
    font-family: inherit;
    
    -moz-user-focus: ignore;
    display: inline-block;
    padding: 10px;
    background: #009;
    color: #fff;
    cursor: pointer;
    
    border: none;
    outline: 0;
}

/*
    CONTENT
*/
.content {
    /* width: 800px; */
    min-width: 480px;
    max-width: 1000px;
    padding: 60px 0px 10px 0px;
    /* margin-top: 60px; */
    margin: auto;
    background: #111;
}

#wosci_canvas {
    /* center the canvas */
    display: block;
    margin: 0 auto;
    background-color: #111;
    border: solid 1px #333;
}

/*
    SIDEBAR
*/
.sidebar {
    background: #06f;
    color: #fff;
    position: fixed;
    overflow: auto;
    width: 200px;
    left: 0px;
    height: 100%;
    z-index: 500;
    padding-top: 80px;
    transition: left .3s;
}

.sidebar.hidden {
    left: -200px;
    /* display: none; */
}

.sidebar ul {
    list-style-type: none;
    padding: 0em;
    margin: 0em;
    /* display: inline-flex; */
}

.sidebar li {
    padding: 10px;
}

.sidebar li:hover {
    cursor: pointer;
    background: #009;
    /* text-decoration: underline; */
    /* border-bottom: white 2px solid; */
}

/*
    FOOTER
*/
.footer {
    background: #06f;
    color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    text-align: center;
}

.footer a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 100vh 0 100vh #06f; /* Footer until end of page*/
}

.footer a:hover {
    /* color: #AAA; */
    text-decoration: underline;
}

/*
    OTHER
*/
.badge {
    display: inline-block;
    /* background: #AAA; */
    /* color: #333; */
    min-width: 100px;
}

.data {
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
}

/*
    SVG PLOTTER
*/
#svg-plotter {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    margin: 10px auto;
    border: #333 solid 1px;
}

#svg-plotter path {
    cursor: pointer;
    stroke: #06f;
    stroke-width: 1;
    fill: none;
}
